{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Réinitialiser mon mot de passe</h1>
<hr>
{{ form(form) }}
</div>
{% endblock %}