{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="container about mt-5 mb-5">
<h2 class="reenie">Dear Berthie,</h2>
<div class="py-3">
<h2 class="reenie">
Perspiciatis, aliquid quam ut error accusamus assumenda illo ad quis officiis commodi ab veniam velit est temporibus odio eveniet inventore esse architecto!Nisi sequi debitis possimus ratione quidem aspernatur perspiciatis.
<br> <br>
Perspiciatis, aliquid quam ut error accusamus assumenda illo ad quis! Nisi sequi debitis possimus ratione quidem aspernatur perspiciatis totam distinctio itaque assumenda sunt id optio, laborum illum temporibus deleniti fugit nam veniam necessitatibus doloremque enim, hic maiores similique quia. Fugit.
Lorem ipsum dolor sit amet consectetur adipisicing elit. 
<br> <br>
Lorem ipsum dolor sit amet consectetur adipisicing elit.
</h2>
</div>
<h1 class="reenie text-right" style="margin-right: 20%;">
 Olivia .
 </h1>
</div>
{% endblock %}