{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container text-center mb-4">
    <div>
        <h1 class="py-5 mx-5">
            <strong class="reenie">
                L'Atelier Berthie ouvrira ses portes courant 2021. Nous avons hate de vous présenter notre travail et de vous rencontrer.
            </strong>
        </h1>
    </div>
    <div>
	<img src="{{ asset('assets/img/home-mockup.jpg') }}" class="img-fluid" alt="">
    </div>
</div>
{% endblock %}
