{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container text-center mb-5">
    <h4 class="py-5 mx-5">
    <strong>
    L'Atelier Berthie ouvrira des portes courant 2021. Nous avons hate de vous présenter notre travail et de vous renconter.
    </strong>
    </h4>
	<img src="{{ asset('assets/img/home-mockup.jpg') }}" class="img-fluid" alt="">
</div>
{% endblock %}
