{% extends 'base.html.twig' %}

{% block title %}Echec de ma commande{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Désolé une erreur s'est produite durant votre commande !</h1>
    <hr>
    <p>
        Désolé {{ commande.user.firstname }} ! <br>
        Le paiement de votre commande numéro : <strong> {{ commande.reference }} </strong> n'a pas pu être réalisée <br>
        Une confirmation de l'echec de votre paiement vient de vous être envoyer par mail sur <strong> {{ commande.user.email }} </strong>. <br>
    </p>
    <hr>
    <p>
    Veuillez essayer à nouveau en vous rendant sur <a href="{{ path('cart') }}">votre panier</a>.
    </p>
</div>
{% endblock %}
