{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> Je passe ma commande</h1>
    <p>Choissisez vos préférences avant de régler votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir mon adresse de livraison</b><br>
            <b>Choisir mon transporteur</b>
        </div>
        <div class="col-md-6">
            <b>Recap de ma commande</b><br>
            <b>Bouton valider</b>
        </div>
    </div>
</div>
{% endblock %}
