html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', 'Open Sans Condensed', sans-serif;
}
.mw600{
    max-width: 600px;
}
.page-top {
    min-height: 91vh;
}

h1, h2, h3 {
    font-family: 'Italianno', cursive;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.custom-font {
    font-family: 'Ubuntu', 'Open Sans Condensed', sans-serif;
}

.reenie {
    font-family: 'Reenie Beanie', cursive;
}

.custom-link {
    color: #393e46; 
    font-size: 1.1rem;
    font-weight: 700;
}

.custom-link-two {
    color: white; 
    font-size: 1rem;
    font-weight: 700;
}

.btn-custom {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 13px;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 5px;
    background-color: transparent;
}
.btn-custom:hover, .btn-custom:focus {
    transition: all 0.5s;
    background-color: rgba(160, 160, 160, 0.322);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:  #393e46;
    outline: 0;
    box-shadow: none;
}

.hidden {
    visibility: hidden;
}

.disp600 {
    margin: 0;
}

.app600 {
    display: none;
}

/* AFFICHAGE HEADER */
#navbar  {
    display: grid;
    height: 200px;
    grid-auto-flow: column;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}
.nav-ab-item {
    font-family: 'Raleway', sans-serif;
    font-size: calc(1rem + 0.5vw);
    display: grid;
    justify-self: center;
    align-items: center;
}
.logo {
    width: 200px;
}
.panier {
    position: absolute;
    top: 15px;
    right: 5vw;
    display: flex;
    flex-direction: row;
}

/* AFFICHAGE FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5rem;
}

/* AFFICHAGE HOME */

/* AFFICHAGE ABOUT */
.about {
    font-family: 'Ubuntu', 'Italianno', 'cursive';
    font-size: 1.2rem;
    text-align: justify;
}

/* AFFICHAGE SHOP */
.produit-item-image {
    display: block;
    width: 100%;
    height: 100%;
}
.produit-item-description {
    position:absolute;
    text-align:center;
    width: 100%;
    height: 100%;
    color: white;
    top:0;
    opacity: 0;
}
.produit-item-image:hover .produit-item-description {
    transition: linear 0.3s;
    opacity: 1;
}
.produit-item-description-texte {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.img-shop {
    width: 100%;
    height: 100%;
}

/* AFFICHAGE CART */
.custom-minus-plus a, .custom-minus-plus a:hover{
    text-decoration: none;
    color: grey;
}

/* AFFICHAGE ACCOUNT */
.account-item {
    border-radius: 15px;
    margin: 4px;
    padding: 60px;
    background-color: rgba(0, 139, 139, 0.452);
}

@media (max-width: 800px) {
    .disp600 {
        display: none;
    }
    .app600 {
        display: flex;
        justify-content: center;
    }
    #navbar  {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
}

@media (max-width: 1300px) {
    .panier {
        top: 15px;
        right: 15px;
    }
}