body {
    position: relative;
    min-height: 100vh;
}

/* AFFICHAGE SHOP */
.produit-item {
    margin-top: 40px;
}
.produit-item .produit-soustitre{
    display: block;
    margin-bottom: 10px;
}
.produit-item .produit-prix{
    font-size: 14px;
    font-weight: bold;
}

/* AFFICHAGE CART */
.custom-minus-plus a, .custom-minus-plus a:hover{
    text-decoration: none;
    color: grey;
}