{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
<h1> Inscription </h1>
{% if notification %}
    <div class="alert alert-info">
        {{ notification }}
    </div>
{% endif %}
{{ form(form) }}
</div>
{% endblock %}
