{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse{% endblock %}

{% block body %}
<div class="container mw600 mt-5 mb-5">
<h1>Ajouter une adresse</h1>
<p>Avant de procéder à une commande, vous devez ajouter une adresse.</p>
<hr>
{{ form(form) }}
<hr>
  <div class="text-right mr-4">
    <a href="{{ path('account') }}" class="custom-link">Retour</a>
  </div>
</div>
{% endblock %}