    <!-- FOOTER -->
    <div class="container text-center mt-5 hidden">
        <p>
        &copy; 2017-2020 Atelier Berthie - 
        <small>
        <a href="#" style="color: grey;">Privacy</a> & <a href="#" style="color: grey;">Terms</a> 
        </small>
        </p>
    </div>