{% extends 'base.html.twig' %}

{% block title %}Page introubale
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 py-5 px-5">
        <div>
            <h1 style="font-size: 3rem;">Page introuvable</h1>
            <div class="py-3">
                <h2 class="custom-font">
                    Désolé, la page à laquelle vous tentez d'accéder n'existe pas.
                </h2>
            </div>
            <hr>
            <a href="{{ path('home')}}" class="custom-link">Retour à la page d'accueil<a>
        </div>
	</div>
{% endblock %}
